#################################################################
## Home Assistant
#################################################################

homeassistant:
  name: Home
  latitude: !secret entitie_zone_home_latitude
  longitude: !secret entitie_zone_home_longitude
  elevation: !secret entitie_zone_home_elevation
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Toronto
  auth_providers:
    - type: homeassistant
  # Load packages
  packages: !include_dir_named config/integrations
  auth_mfa_modules:
      - type: totp
        name: Authenticator app

zone: !include_dir_list config/entities/zones