alias: Kitchen - Alarm armed
trigger:
  - platform: state
    entity_id: alarm_control_panel.ring_alarm
    to: 'armed_away'
  - platform: state
    entity_id: alarm_control_panel.ring_alarm
    to: 'armed_home'
action:
  service: light.turn_off
  entity_id: light.kitchen_group
