platform: template
lights:
  tplink_christmas:
    friendly_name: "Christmas"
    value_template: "{{ states('switch.christmas') }}"
    turn_on:
      service: switch.turn_on
      entity_id: switch.christmas
    turn_off:
      service: switch.turn_off
      entity_id: switch.christmas