# No more than 6 for the mobile view to be good
- type: entity-filter
  entities:
    - entity: group.door_all
      name: 'Doors'
  state_filter:
    - "on"
- type: entity-filter
  entities:
    - entity: group.motion_inside
      name: 'Motions'
  state_filter:
    - "on"
- entity: sensor.group_temperature_all
  name: 'Temperature'
# Alarms
- entity: alarm_control_panel.ring_alarm
- entity: alarm_control_panel.alexa_guard_851bb
  name: 'Guard'
- entity: alarm_control_panel.blink_home