path: areas.bathroom
title: Bathroom
icon: mdi:shower
panel: false

badges:
  !include ../includes/_badges.yaml

cards:
  # Col 1
  - type: vertical-stack
    cards:
      - !include ../includes/footer_card.yaml
      # Lights
      - type: entities
        entity: light.bathroom_group
        title: Lights
        entities: !include ../includes/entities/lights_bathroom.yaml
      # Switches
      - type: entities
        title: 'Actions'
        show_header_toggle: false
        entities:
          - type: custom:decluttering-card
            template: media_player
            variables:
              - entity: "sonos_bathroom"
          - type: custom:decluttering-card
            template: media_player
            variables:
              - entity: "bathroom_dot"
              - tts_plateform: "alexa"
      - !include ../includes/bottom-card.yaml
  # Col 2
  - type: vertical-stack
    cards:
      # Sensors
      - type: entities
        title: 'Sensors'
        show_header_toggle: false
        entities:
          - sensor.group_light_level_bathroom
          - sensor.group_temperature_bathroom
          - binary_sensor.water_16
          - type: divider
          - group.motion_bathroom
      # Automations
      - type: custom:decluttering-card
        template: automation
        variables:
          - entity1: 'bathroom_*'
      - !include ../includes/bottom-card.yaml