platform: template
sensors:
  group_light_level_entrance:
    friendly_name: "Entrance"
    unit_of_measurement: 'lx'
    icon_template: mdi:brightness-6
    value_template: >-
      {{ ((states('sensor.entrance_sensor_light_level')|float) / 1) | round(2) }}
