alias: Security - Water detected
initial_state: True
trigger:
  - platform: state
    entity_id: group.water_all
    to: 'on'
action:
  - service: script.notify
    data:
      notify_id: everyone
      priority: 1
      title: "Alert"
      message: >
        {% set water = states | selectattr('entity_id', 'in', state_attr('group.water_all','entity_id')) | selectattr('state','eq','on') | map(attribute='name') | join(', ') %}
        Water detected in: {{ water }}