alias: Alarm - Notify Alarm Triggered
initial_state: True
trigger:
  - platform: state
    entity_id: alarm_control_panel.ring_alarm
    to: 'triggered'
action:
  - service: script.notify
    data:
      notify_id: everyone
      priority: 2
      title: "Alert"
      message: "The alarm has been triggered, immediately check the house !"